{% extends "base.jinja2" %}

{% block og_meta %}
    {% set _og_img = url_for('static', filename='originals/' + image, _external=True) if image else og_image_url %}
    <meta property="og:type" content="event" />
    <meta property="og:site_name" content="{{ site_name }}" />
    <meta property="og:url" content="{{ request.url }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ og_description }}" />
    <meta property="og:image" content="{{ _og_img }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ og_description }}" />
    <meta name="twitter:image" content="{{ _og_img }}" />
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block main %}
    <div class='show-head'>
        <h1 class='show-title'>{{ title }}</h1>
        <div class='show-meta'>
            <div class='venue'>
                {% if meta.venue %}
                    {{ meta.venue }},
                {% endif %}
                {% if meta.city %}
                    {{ meta.city }},
                {% endif %}
                {% if meta.state %}
                    {{ meta.state }}
                {% endif %}
            </div>
            <time class='show-date'>{{ show_date }}</time>
        </div>
    </div>

    {{ content }}

{% endblock %}
